.tile {
  border: 1px solid black;
  height: 54.5px;
  width: 54.5px;
}

.tileWhite {
  background-color: white;
}

.tileYellow {
  background-color: #e5e440;
}

.tileBlue {
  background-color: #3a9beb;
}

.tileRed {
  background-color: transparent;
  border: 0;
}
