.spaceTitle {
  margin-bottom: 40px;
}

.viewAll {
  display: flex;
  margin-left: auto;
  color: var(--light-red);
  font-family: var(--font-tstar);
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px; /* 150% */
  letter-spacing: 0.2px;
  text-transform: uppercase;
  margin: auto 0;
}

.news {
  display: flex;
  padding-top: 24px;
  gap: 40px;
  margin-bottom: 40px;

  @media (max-width: 769px) {
    flex-wrap: wrap;
    gap: 8px;
  }
}

.newsSection {
  max-width: 134px;
  width: 100%;
}

.newsTitle {
  color: #000;
  font-family: var(--font-tstar);
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 32px; /* 133.333% */
  letter-spacing: 0.2px;

  @media (max-width: 769px) {
    font-size: 18px;
    width: 100%;
  }
}
